<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="serverCertificationCN" value="BankingService"/>
    <add key="adminClientCertificationCN" value="Admin"/>
    <add key="adminGroupName" value="BankingSystemAdmin"/>
    <add key="adminServicesAddress" value="net.tcp://10.1.212.111:25001/AdminServices"/>
    <!--<add key="adminServicesAddress" value="net.tcp://localhost:25000/AdminServices"/>-->
    <add key="requestsCheckIntervalInMiliseconds" value="1000"/>
  </appSettings>
</configuration>