<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="serverCertificationCN" value="BankingService"/>
    <add key="userCertificationCN" value="User"/>
    <!--<add key="userServicesAddress" value="net.tcp://10.1.212.111:25001/UserServices"/>-->
    <add key="userServicesAddress" value="net.tcp://localhost:25001/UserServices"/>
  </appSettings>
</configuration>