<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="serverCertificationCN" value="BankingService"/>
    <add key="adminServicesAddress" value="net.tcp://10.1.212.111:25001/AdminServices"/>
    <!--<add key="adminServicesAddress" value="net.tcp://localhost:25000/AdminServices"/>-->
    <add key="userServicesAddress" value="net.tcp://10.1.212.111:25001/UserServices"/>
    <!--<add key="userServicesAddress" value="net.tcp://localhost:25001/UserServices"/>-->
    <add key="BankingServiceIDSAddress" value="net.tcp://localhost:25002/BankingServiceIDS"/>
    <add key="maxDailyIncomingAmount" value="1000"/>
    <add key="daysLockForLimitViolation" value="1"/>
    <add key="waitingLimitInMiliseconds" value="500"/>
    <add key="wrongPinAttemptsLimit" value="3"/>
    <add key="minutesLockForWrongPin" value="1"/>
    <add key="requestsOverloadCheckInterval" value="30"/>
    <add key="requestsOverloadLimit" value="10"/>
    <add key="daysLockForOverload" value="1"/>
  </appSettings>
</configuration>