<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="bankingServicesAddress" value="net.tcp://localhost:25002/BankingServiceIDS"/>
    <add key="maxDailyIncomingAmount" value="1000"/>
    <add key="wrongPinAttemptsLimit" value="3"/>
    <add key="requestsOverloadLimit" value="10"/>
    <add key="requestsOverloadCheckInterval" value="30"/>
  </appSettings>
</configuration>